* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.estilo-jumbotron, .jumbotron-productos, .jumbotron-quienes-somos {
  height: 350px;
  color: blue;
  text-shadow: 0 0 5px white;
}

html {
  scroll-behavior: smooth;
}

.quienessomos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("./imagenes/Fondo-de-pantalla-en-blanco-1920x1200-en-HD-Android.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.h1quienessomos {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.jumbotron-quienes-somos {
  background-image: url("imagenes/problem-3303403_1280.png");
  background-size: cover;
  background-position: center;
}

.jumbotron-productos {
  background-image: url("imagenes/shopping-4538982_1280.jpg");
  background-size: cover;
  background-position: center;
}

.contacto {
  background-image: url("./imagenes/Fondo-de-pantalla-en-blanco-1920x1200-en-HD-Android.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  height: 100vh;
  width: 100%;
  background-image: url("./imagenes/Fondo-de-pantalla-en-blanco-1920x1200-en-HD-Android.jpg");
  background-size: cover;
}

.formulario {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-transform: capitalize;
}

.fondotrabaja {
  background-image: url("./imagenes/Fondo-de-pantalla-en-blanco-1920x1200-en-HD-Android.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.redes {
  font-size: 50px;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

.fa-facebook {
  color: #003797;
}

.fa-twitter {
  color: #51aff8;
}

.fa-instagram {
  color: rgb(243, 11, 193);
}

.subir {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: blue;
  font-size: 35px;
  color: white;
  border-radius: 50%;
  border-radius: 3px solid black;
}

.subir:hover {
  background-color: gray;
}

/* .container {
    display: flex;
    justify-content: center;
    margin-left: 140px;
    height: 30%;
    width: 80%;
    border: 2px solid black;
  } */
/* .container img {
    object-fit: cover;
  } */
.jumbotron {
  background-image: url("imagenes/mobile-2262928_1280.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  color: blue;
  text-shadow: 0 0 5px white;
  border-radius: 0;
  margin-bottom: 0;
}

.nuestras-marcas {
  background-color: black;
  text-align: center;
  color: blue;
  padding: 15px;
  margin-bottom: 0;
}

.navbar span {
  color: blue;
}

.galeria {
  width: 100%;
}

.galeria img {
  object-fit: cover;
}

.container-formulario {
  display: flex;
  justify-content: center;
  text-align: center;
}

.jumbotron-trabaja {
  background-image: url("imagenes/handshake-3298455_1280.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  color: aqua;
  text-shadow: 0 0 5px black;
  margin-bottom: 0;
}

.h2quienessomos {
  background-color: black;
  color: blue;
  text-align: center;
  padding: 15px;
  margin-bottom: 0;
}

.nosotros {
  width: 100%;
  height: auto;
  background-color: grey;
}

.nleft {
  height: 450px;
  background-image: url("imagenes/meeting-room-730679_1280.jpg");
  background-size: cover;
  background-position: center;
}

.nright {
  background-image: url("imagenes/balloon-5298566_1280.jpg");
  height: 450px;
  background-size: cover;
  background-position: center;
}

.nright h3 {
  color: blue;
  text-align: center;
  text-shadow: 0 0 5px white;
  padding-top: 10px;
}

.nright p {
  color: black;
  text-align: center;
  text-shadow: 0 0 5px white;
}

.nosotros2 {
  width: 100%;
  height: auto;
  background-color: grey;
}

.nright1 {
  height: 450px;
  background-image: url("imagenes/accessories-3848075_1280.jpg");
  background-size: cover;
  background-position: center;
}

.nleft1 {
  height: 450px;
  background-image: url("imagenes/sky-1373167_1280.jpg");
  background-size: cover;
  background-position: center;
}

.nleft1 h3 {
  color: blue;
  text-align: center;
  text-shadow: 0 0 5px white;
  padding-top: 10px;
}

.nleft1 p {
  color: white;
  text-align: center;
  text-shadow: 0 0 5px black;
}

.sec {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  text-align: center;
  color: blue;
  padding: 15px;
  margin-bottom: 0;
}

.marcas {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to left top, #95115c, #861d69, #742873, #5e307a, #45367e, #394890, #26599f, #006aab, #008ec8, #00b3dc, #00d7e9, #5ffbf1);
}

.item {
  width: 100%;
  height: 500px;
  background-color: aquamarine;
  border: 2px solid black;
}

.item1 {
  background-image: url("imagenes/samsung-logo.jpg");
  background-size: cover;
  background-position: center;
}

.item2 {
  background-image: url("imagenes/iPhone-logo.jpg");
  background-size: cover;
  background-position: center;
}

.item3 {
  background-image: url("imagenes/motorola_logo.jpg");
  background-size: cover;
  background-position: center;
}

.item4 {
  background-image: url("imagenes/xiaomi-logo.jpg");
  background-size: cover;
  background-position: center;
}

.galeria-productos {
  width: 100%;
  height: auto;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  padding: 20px;
  margin-top: 0;
}

.item-productos {
  width: 100%;
  height: 500px;
  background-color: aquamarine;
  border: 5px solid white;
}

.galeria-productos h2 {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  text-align: center;
  color: blue;
  padding: 15px;
  margin-bottom: 0;
}

.item9 {
  background-image: url("imagenes/Galaxy-S23-Ultra.jpg");
  background-size: cover;
  background-position: center;
}

.item10 {
  background-image: url("imagenes/Apple-iPhone-14-Pro-iPhone-14-Pro-Max-hero-220907_Full-Bleed-Image.jpg.large.jpg");
  background-size: cover;
  background-position: center;
}

.item11 {
  background-image: url("imagenes/motorola-g20-image.jpg");
  background-size: cover;
  background-position: center;
}

.item12 {
  background-image: url("imagenes/xiaomi-9.jpg");
  background-size: cover;
  background-position: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}

.jumbotron-contacto {
  background-image: url("imagenes/contact-us-2993000_1280.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  color: blue;
  text-shadow: 0 0 5px black;
  margin-bottom: 0;
}

.contacto {
  width: 100%;
  height: auto;
  background-color: grey;
}

.leftemail {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.leftemail i {
  text-align: center;
  font-size: 50px;
}

.leftemail p {
  color: black;
  text-align: center;
  text-shadow: 0 0 5px white;
  padding-top: 30px;
}

/*# sourceMappingURL=estilos.css.map */
